<div class="main-content">
  <div class="container-fluid">
    <h4 class="title">{{ poll.name }}</h4>
    <div class="row">
      <div *ngFor="let vote of poll.votes" class="form-check form-check-radio">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" [(ngModel)]="selectedItem" name="{{vote.id}" id="{{vote.id}}"
            value="{{vote.id}}">
          <span class="form-check-sign"></span>
          {{ vote.name }}
        </label>
      </div>
    
      <button class="btn btn-success" style="margin-right: 10px" (click)="vote()">Vote</button>
      <button class="btn btn-warning" type="button" (click)="displayStats()">View results</button>
      <div class="stats" *ngIf="display">
        <div class="row" style="margin-top: 2%">
          <div *ngIf="chartData">
           
            <div class="col-md-4">
              <lbd-chart [title]="'Poll statistics'" [subtitle]="'Check poll results by percents'"
                [chartClass]="'ct-perfect-fourth'" [chartType]="chartType" [chartData]="chartData"
                [legItems]="poll.votes" [chartOptions]="activityChartOptions" [withHr]="true"
                [footerIconClass]="'fa fa-clock-o'" [footerText]="'Poll'">
              </lbd-chart>
            </div>
            <div class="col-md-6">
              <lbd-chart [title]="'Poll statistics'" [subtitle]="'Bar'" [chartType]="barChart"
                [chartData]="barChartData" [chartOptions]="barChartOptions" [legendItems]="chartLegendItems"
                [withHr]="true" [footerIconClass]="'fa fa-check'" [footerText]="'Data information certified'">
              </lbd-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>