<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Explore polls</h4>
            <p class="category">Browse for public polls and vote in them!</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Created</th>
                  <th>Vote count</th>
                  <th>Vote!</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let poll of pagePoll?.content">
                  <td>{{poll.id}}</td>
                  <td>{{poll.name}}</td>
                  <td>{{poll.postDate | amTimeAgo }}</td>
                  <td>{{ countVotes(poll) }}</td>
                  <td><a [routerLink]="['/poll', poll.code]" class="btn btn-success">Vote!</a></td>
                </tr>
              </tbody>
            </table>
              <nav aria-label="...">
                <ul style="margin-left: 180px; margin-top:-10px;" class="pagination" *ngIf="pagePoll?.content">
                <li *ngFor="let page of ' '.repeat(pagePoll.totalPages).split(''), let i = index " (click)="onSelect(i)"
                [class.active]="i === selectedPage" class="page-item"><a class="page-link" style="cursor: pointer">{{i}}</a></li>
                </ul>
              </nav>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>