<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/dashboard">
                        Home
                    </a>
                </li>
                <li>
                    <a href="http://www.github.com/grzegorz103">
                        Portfolio
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.github.com/grzegorz103">Grzegorz Piłat</a>
        </p>
    </div>
</footer>
