<div class="main-content">
    <div class="container-fluid">
        <div class="row form-check form-check-radio">
            <div class="form-group">
                <div class="col-sm-6">
                    <label>Your question</label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="poll.name">
                </div>
            </div>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="poll.multipleAnswer">
                <span class="form-check-sign"></span>
                Allow multiple answers
            </label>
        </div>
        <hr>
        Poll options
        <a class="btn btn-info" (click)="add()">Add new vote</a>
        <div *ngFor="let vote of poll.votes; let i=index" class="row">
            <div class="form-group">
                <label>Option #{{i + 1}}
                    <i class="pe-7s-close-circle icon" (click)="removeAnswer(i)"></i></label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="poll.votes[i].name">
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-success" (click)="save()">Send!</a>
    </div>
</div>