<div class="main-content">
    <div class="container-fluid">
        <form (ngSubmit)="save()" #pollForm="ngForm">
            <div class="row form-check form-check-radio">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Your question</label>
                        <input type="text" required minlength="3" maxlength="250" class="form-control" placeholder=""
                            [(ngModel)]="poll.name" #namePoll="ngModel" name="namePoll">
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="poll.multipleAnswer"
                        name="multipleAnswer">
                    <span class="form-check-sign"></span>
                    Allow multiple answers
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="poll.allowSameIp" name="allowSameIp">
                    <span class="form-check-sign"></span>
                    Allow multiple votes from same IP
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <input [disabled]="!authService.isAuthenticated()" class="form-check-input" type="checkbox"
                        [(ngModel)]="poll.nonPublic" name="nonPublic">
                    <span class="form-check-sign"></span>
                    <span *ngIf="!authService.isAuthenticated()">
                        <span data-toggle="tooltip" data-placement="top" title="Available only for registered users">
                            Private (accessible only via direct link)
                        </span>
                    </span>
                    <span *ngIf="authService.isAuthenticated()">
                        Private (accessible only via direct link)
                    </span>
                </div>
            </div>

            <hr>

            <a class="btn btn-info" style="margin-bottom:1%" (click)="add()">Add new option</a>
            <div *ngFor="let vote of poll.votes; let i=index">
                <div class="form-group">
                    <label>Option #{{i + 1}}
                        <i class="pe-7s-close-circle icon" (click)="removeAnswer(i)"></i></label>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" required minlength="2" maxlength="250" class="form-control"
                                placeholder="" [(ngModel)]="poll.votes[i].name" #votePoll="ngModel"
                                name="'{{ 'votePoll' + i }}">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!pollForm.form.valid" class="btn btn-success">Send!</button>
        </form>
    </div>
</div>