<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Your question</label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="poll.name">
                </div>
            </div>
        </div>
        <hr>
        Poll options
        <a class="btn btn-info" (click)="add()">Add new vote</a>
        <div *ngFor="let vote of poll.votes; let i=index" class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Option #{{i}}</label>
                </div>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="poll.votes[i].name">
            </div>
        </div>
        <a class="btn btn-success" (click)="save()">Send!</a>
    </div>
</div>